@model IEnumerable<Employees.Shared.Models.ExperienceDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Name)
                    @Html.DisplayFor(modelItem => item.Employee.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language.Name)
                </td>
                @* <td>
            @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
